.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color:#000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title
{
color: #121212;
font-size: 32px;
font-weight: 900;
margin-top: 0;
margin-bottom: 24px;
}
.form
{
margin: 18px auto ;
background-color: rgb(220, 227, 231);
padding: 24px 28px;
width: 95vh;
display: flex;
flex-direction: column;
border: 2px solid #ffd700; /* Yellow/Gold border */
border-radius: 30px;
}

.form:hover
{
  animation: glowing 5s infinite alternate;
}

@keyframes glowing {
  0% { box-shadow: 0 0 10px #ffd700; }
  13% { box-shadow: 0 0 10px #ffd700; }
  25% { box-shadow: 0 0 10px #ffd700; }
  33% { box-shadow: 0 0 10px #ffd700; }
  50% { box-shadow: 0 0 20px #ffd700; }
  63% { box-shadow: 0 0 10px #ffd700; }
  75% { box-shadow: 0 0 10px #ffd700; }
  83% { box-shadow: 0 0 10px #ffd700; }
  100% { box-shadow: 0 0 10px #ffd700; }
}

/* Apply the animation to the element with the class .glow */
/* .glow {
  animation: glowing 2.5s infinite alternate;
} */


.button
{
font-family: inherit;
text-decoration: none;
font-weight: 500;

margin: 0 auto;

background-color: #ba5a00;
color:  black;

padding: 18px 18px;
width: 30vh;
border: none;
border-radius: 8px;

cursor: pointer;
transition: all 0.2s ease-out;
}

.button:hover
{
background-color: #00465f;
font-size: 13px;
}

.form p{
margin-top: 0;
word-wrap: break-word;
color: #121212;
}

@media (max-width: 800px) {
.form
{
  width: 600px;
}
}

@media (max-width: 600px) {
.form {
  width: 400px;
}
}